In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df = df.iloc[:, 2:]

In [4]:
df.sample(4)

     Age  EstimatedSalary  Purchased
357   41            72000          0
395   46            41000          1
39    27            31000          0
136   20            82000          0

In [5]:
from sklearn.model_selection import train_test_split
X_trin, X_test, y_train, y_test = train_test_split(df.drop('Purchased', axis=1),
                                                  df['Purchased'],
                                                  test_size=.3,
                                                  random_state=0)
X_trin.shape, X_test.shape

((280, 2), (120, 2))

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_trin)

X_train_scaled = scaler.transform(X_trin)
X_test_scaled = scaler.transform(X_test)

In [7]:
scaler.mean_

array([3.78642857e+01, 6.98071429e+04])